<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/khatacss.css}">
    <script th:src="@{/js/khatajs.js}"></script>

</head>
<body>
<div align="center" id="page_container">

    <div th:replace="fragments/navbar.html :: navbar"></div>

    <h1>Welcome to ADMIN Panel</h1>

    <!-- Admin Features goes here -->
    <hr>

    <div class="admin_panel_image_main_container">

        <div class="image_holder">
            <a href="/admin/view_project_information"><img th:src="@{/images/view_project.png}" alt="View Project" height="200px" width="300px;"></a>
            <p>View Project Details</p>
        </div>

        <div class="image_holder">
            <a href="/admin/new_project"><img th:src="@{/images/new_project.png}" alt="View Project" height="200px" width="300px;"></a>
            <p>Add New Project</p>
        </div>

        <div class="image_holder">
            <a href="/admin/register"><img th:src="@{/images/user_registration.png}" alt="View Project" height="200px" width="300px;"></a>
            <p>Add New Users</p>
        </div>

        <div class="image_holder">
            <a href="/admin/view_users_information"><img th:src="@{/images/user_registration.png}" alt="View Project" height="200px" width="300px;"></a>
            <p>View All Users</p>
        </div>

    </div>

    <footer th:replace="fragments/footer.html :: footer">

    </footer>

</div>
</body>
</html>