<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Add New Project</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>
    </head>
    <body onload="doOnload()">

        <div th:replace="fragments/navbar.html :: navbar"></div>

        <script>

                //validate Form
                function validateForm(){

                    if(document.getElementById('projectName').value == "" || document.getElementById('location').value == "")
                    {
                        document.getElementById('errorMessage').innerHTML = "Project name and location are mandatory."

                        //Hide error message after few seconds
                        hideErrorMessage();

                        return false;
                    }
                    document.getElementById("myform").submit();
                }

                //Function for hiding Error Message
                function hideErrorMessage(){
                     setTimeout(function () {
                        document.getElementById('errorMessage').innerHTML = "";
                    }, 3000);
                }

                //Function for hiding Error Message
                function hideSuccessMessage(){
                     setTimeout(function () {
                        document.getElementById('successMessage').innerHTML = "";
                    }, 3000);
                }

                function doOnload(){
                    hideSuccessMessage();
                }


            </script>


        <div align="center">

            <h1>Add New Project </h1>
            <br>
            <form action="#" th:action="@{/save_project}" th:object="${project}" method="post" id="myform">

                <table border="0" cellpadding="10">


                    <tr>
                        <td> Project Name:</td>
                        <td><input type="text" th:field="*{projectname}" id="projectName"/></td>
                    </tr>


                    <tr>
                        <td> Location: </td>
                        <td><input type="text" th:field="*{location}" id="location"/></td>
                    </tr>


                    <tr>
                        <td>Project Manager: </td>
                        <td><input type="text" th:field="*{projectmanager}" /></td>
                    </tr>

                    <tr>
                        <td><input type="button" value="Save" onclick="validateForm()"></td>
                        <td><button type="reset">Reset</button></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span id="errorMessage" style="color:red;"></span>
                            <span id="successMessage" style="padding:10px;color:green;" th:text="${successmessage}" ></span>
                        </td>
                    </tr>

                </table>

            </form>
        </div>

        <footer th:replace="fragments/footer.html :: footer"></footer>

    </body>
</html>