<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>User Registration</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>
    </head>
    <body>
        <div id="page_container" style="height=1000px;">
            <div th:replace="fragments/navbar.html :: navbar">

            </div>

            <div align="center">

                <h1>User Registration</h1>

                <form action="#" th:action = "@{admin/register}" th:object="${user}" method="post">

                    <table>

                        <tr>
                            <td>First Name: </td>
                            <td><input type="text" th:field="*{firstname}"></td>
                        </tr>

                        <tr>
                            <td>Last Name: </td>
                            <td><input type="text" th:field="*{lastname}"></td>
                        </tr>
<!--                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">..</span>-->
<!--                        <p th:if="${#fields.hasErrors('datePlanted')}" th:errors="*{datePlanted}">Incorrect date</p>-->

                        <tr>
                            <td>Email: </td>
                            <td>
                                <input type="text" th:field="*{email}">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Already Taken</span>
                            </td>
                        </tr>

                        <tr>
                            <td>Phone Number: </td>
                            <td><input type="text" th:field="*{phonenumber}"></td>
                        </tr>

                        <tr>
                            <td>Age: </td>
                            <td><input type="number" th:field="*{age}"></td>
                        </tr>

                        <tr>
                            <td>Company Name: </td>
                            <td><input type="text" th:field="*{companyname}"></td>
                        </tr>

                        <tr>
                            <td>Project Name: </td>
                            <td>
                                <select name="" id="" th:field="*{projectid}">
                                    <option value="-1">Select Project</option>
                                    <option th:each = "project:${allprojects}"
                                            th:value = "${project.id}"
                                            th:text = "${project.projectname}"
                                    >
                                    </option>

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Password: </td>
                            <td><input type="password" th:field="*{password}"></td>
                        </tr>

                        <tr>
                            <td><input type="submit" value="Register User"></td>
                            <td><input type="reset" value="Reset Form"></td>
                        </tr>

                    </table>

                </form>



            </div>

            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>

    </body>
</html>