<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Registration Successful</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>
    </head>
    <body>
        <div id="page_container" style="height=100vh;">
            <div th:replace="fragments/navbar.html :: navbar"></div>


            <div align="center">

                <h1>User Registration Successful</h1>

                <p>Registration of <span th:text="${user.firstname}"> is successful.</span></p>

            </div>

            <footer th:replace="fragments/footer.html :: footer"></footer>

        </div>
    </body>
</html>