<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Project Information</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>

    </head>
    <body>
    <div align="center" id="page_container" style="height:100vh;">

        <div th:replace="fragments/navbar.html :: navbar"></div>

        <div align="center">
            <div sec:authorize="isAuthenticated()">
                Welcome <span sec:authentication="name">UserName</span>
            </div>

            <h1>Project Information</h1>

            <a href="new_project">Create New Project</a>

            <br><br>
            <div style="overflow-x: auto;">
                <table border="3" cellpadding="10" style="border-collapse:collapse;">
                    <thead>

                    <tr style="border:2px solid; font-size:18px; font-style:bold;">
                        <th>Serial No.</th>
                        <th>Project Name</th>
                        <th>Project Location</th>
                        <th>Project Manager</th>
                        <th>Action</th>
                    </tr>

                    </thead>

                    <tbody>

                    <tr th:each ="project, iterStat : ${allprojects}">
                        <td th:text="${iterStat.count}">Serial No.</td>
                        <td th:text="${project.projectname}">Project Name</td>
                        <td th:text="${project.location}">Project Location</td>
                        <td th:text="${project.projectmanager}">Project Manager</td>

                        <td>
                            <a th:href="@{'/edit_project/' + ${project.id}}">Edit</a>
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>

        </div>

        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    </body>
</html>