<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Users Information</title>
    <link rel="stylesheet" th:href="@{/css/khatacss.css}">
    <script th:src="@{/js/khatajs.js}"></script>

</head>
<body>
<div align="center" id="page_container" style="height:100vh;">

    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div align="center">
        <div sec:authorize="isAuthenticated()">
            Welcome <span sec:authentication="name">UserName</span>
        </div>

        <h1>Users Information</h1>

        <a href="register">Add New User</a>

        <br><br>
        <div style="overflow-x: auto;">
            <table border="3" cellpadding="10" style="border-collapse:collapse;">
                <thead>

                <tr style="border:2px solid; font-size:18px; font-style:bold;">
                    <th>SN</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Age</th>
                    <th>Company Name</th>
                    <th>Enabled</th>
                    <th>Project Name</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each ="user, iterStat : ${allusers}">
                    <td th:text="${iterStat.count}">Serial No.</td>
                    <td th:text="${user.firstname}">Fist Name</td>
                    <td th:text="${user.lastname}">Last Name</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.phonenumber}">Phone Number</td>
                    <td th:text="${user.age}">Age</td>
                    <td th:text="${user.companyname}">Company name</td>
                    <td th:text="${user.enabled}">User Enabled</td>
                    <td th:text="${user.projectname}">Project Name</td>

<!--                    <td>-->
<!--                        <a th:href="@{'/edit/' + ${billing.id}}">Edit</a>-->
<!--                        &nbsp;&nbsp;&nbsp;-->
<!--                        <a th:href="@{'/delete/' + ${billing.id}}">Delete</a>-->
<!--                    </td>-->
                </tr>

                </tbody>

            </table>
        </div>

    </div>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>