<nav xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" th:fragment="navbar">
    <div id="loginSection">
        <a href="logout" >Log Out</a>
    </div>
    <ul  class="topnav" id="nav_bar">
        <li><a href="/"  class="link active">Home</a></li>
        <li><a href="new" class="link">Enter New Bill</a></li>
        <li><a href="view_billing_information" class="link">View All Bills</a></li>
        <li><a href="search" class="link">Search Bills</a></li>
        <li><a href="#" class="link">Request For Purchase Approvals</a></li>
        <li><a href="admin/admin_panel" class="link" sec:authorize="hasRole('ADMIN')">Admin Tools</a></li>
    </ul>
</nav>