ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #92a8d1;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;
}

ul.topnav li a:hover:not(.active) {background-color: #555; color:white;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li a:active{background-color: #4CAF50; color:white;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

footer{
    background: #92a8d1;
    text-align:center;
    color:white;
    width:100%;
    bottom:0;
    border-radius:10px;
    height: 40px;
    margin-top: 1vh;
    vertical-align: middle;

}

#errorMessage{
    color: red;
}

#loginSection{
    text-align: right;
    text-decoration: none;
}

/*CSS For Admin Panel Page*/

.admin_panel_image_main_container{
    display:flex;
    flex-direction: row;
    border-radius: 2px;
}

@media only screen and (max-width: 800px) {
  .admin_panel_image_main_container{
      flex-direction: column;
  }
}
.image_holder{
    border: 2px solid green;
    margin: 20px;
    opacity: 0.5;
    background: green;
    color: #ffffff;
}

.image_holder:hover{
    opacity: 1;
    background: #ffffff;
    color: #000000;
}


