<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Billing Information</title>
    <link rel="stylesheet" th:href="@{/css/khatacss.css}">
    <script th:src="@{/js/khatajs.js}"></script>

</head>
<body onload="doOnload()">
<div align="center" id="page_container" style="height:100vh;position:relative;">

    <div th:replace="fragments/navbar.html :: navbar"></div>

    <script>

        //Calculate total automatically, when user enters quantity, prices and deduction values
        function sum(){
            var quantity = document.getElementById('qty').value;
            var price = document.getElementById('price').value;
            var deduction = document.getElementById('deduction').value;
            var total = quantity * price - deduction;
            document.getElementById('total').value = total;
        }

        //validate Form
        function validateForm(){

            if(document.getElementById('itemname').value == ""
                || document.getElementById('qty').value < 1
                || document.getElementById('price').value < 1)
            {
                document.getElementById('errorMessage').innerHTML = "Item name, Quantity And Price are mandatory."

                //Hide error message after few seconds
                hideErrorMessage();

                return false;
            }
            document.getElementById("myform").submit();
        }


        //Function for hiding Error Message
        function hideErrorMessage(){
             setTimeout(function () {
                document.getElementById('errorMessage').innerHTML = "";
            }, 3000);
        }

        //Function for hiding Error Message
        function hideSuccessMessage(){
             setTimeout(function () {
                document.getElementById('successMessage').innerHTML = "";
            }, 3000);
        }

        function doOnload(){
            hideSuccessMessage();
        }


    </script>

    <h1>Edit Billing Information</h1>
    <br>
    <form action="#" th:action="@{/save}" th:object="${billing}" method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td> Billing Id:</td>
                <td><input type="text" th:field="*{id}"  readonly="readonly"/></td>
            </tr>
            <tr>
                <td> Item Purchased From (Location):</td>
                <td><input type="text" th:field="*{purchasedfrom}" /></td>
            </tr>


            <tr>
                <td> Purchased By: </td>
                <td><input type="text" th:field="*{purchasedby}" /></td>
            </tr>


            <tr>
                <td>Item Name:</td>
                <td><input type="text" th:field="*{itemdetails}" /></td>
            </tr>
            <tr>

                <td>Quantity:</td>
                <td><input type="number" th:field="*{qty}" id="qty" onkeyup="sum()" oninput="sum()"/></td>
            </tr>

            <tr>
                <td>Price:</td>
                <td><input type="number" th:field="*{price}" id="price" onkeyup="sum()" oninput="sum()"/></td>
            </tr>

            <tr>
                <td>Deduction:</td>
                <td><input type="number" th:field="*{deduction}" id="deduction" onkeyup="sum()" oninput="sum()"/></td>
            </tr>
            <tr>
                <td>Total:</td>
                <td><input type="number" th:field="*{total}" id="total"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="errorMessage" style="color:red;"></span>
                    <span id="successMessage" style="padding:10px;color:green;" th:text="${successmessage}" ></span>
                </td>
            </tr>

        </table>

    </form>

    <footer th:replace="fragments/footer.html :: footer">

    </footer>

</div>
</body>
</html>