<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Billing Information</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>


    </head>
    <body>
        <div id="page_container" style="height=1000px;">
            <div th:replace="fragments/navbar.html :: navbar">

            </div>

            <div id="main_content" style="height:80vh;">

                <div sec:authorize = "isAuthenticated()">
                    Welcome: <span sec:authentication = "name">firstname</span>
                    &nbsp;&nbsp;&nbsp;
                    <span sec:authentication="principal.authorities">Roles</span>
                </div>

            </div>


            <footer th:replace="fragments/footer.html :: footer">

            </footer>
        </div>
    </body>
</html>