<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>

    </head>
    <body>
        <div id="page_container" style="height=1000px;">
            <div th:replace="fragments/navbar.html :: navbar">

            </div>

            <div align="center">

                <h1>User Login</h1>

                <form action="#" th:action = "@{/login}" th:object="${user}" method="post">

                    <table>

                        <tr>
                            <td>Email: </td>
                            <td><input type="email" th:field="*{email}" name="email" required></td>
                        </tr>

                        <tr>
                            <td>Password:</td>
                            <td><input type="password" name="password" required></td>
                        </tr>



                        <tr>
                            <td><input type="submit" value="Log In"></td>
                            <td><input type="reset" value="Reset Form"></td>
                        </tr>

                    </table>

                </form>



            </div>

            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>

    </body>
</html>