<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Billing Information</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>

    </head>
    <body>
        <div align="center" id="page_container" style="height:100vh;position:relative;">
            <div th:replace="fragments/navbar.html :: navbar"></div>

            <div id="content" style="height: 90vh;">

            </div>

            <!-- Search logic to be implemented -->
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
    </body>
</html>