<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Billing Information</title>
        <link rel="stylesheet" th:href="@{/css/khatacss.css}">
        <script th:src="@{/js/khatajs.js}"></script>

    </head>

    <body>
        <div align="center" id="page_container" style="height:100vh;">

            <div th:replace="fragments/navbar.html :: navbar"></div>

            <div align="center">
                <div sec:authorize="isAuthenticated()">
                    Welcome <span sec:authentication="name">UserName</span>
                </div>

                <h1>Billing Information</h1>

                <a href="new">Create New Bill</a>

                <br><br>
                <div style="overflow-x: auto;">
                    <table border="3" cellpadding="10" style="border-collapse:collapse;">
                        <thead>

                            <tr style="border:2px solid; font-size:18px; font-style:bold;">
                                <th>Serial No.</th>
                                <th>Id.</th>
                                <th>Project Name</th>
                                <th>Item Name</th>
                                <th>Purchased From</th>
                                <th>Purchased By</th>
                                <th>Entered By</th>
                                <th>Entry Date</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Deduction</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr th:each ="billing, iterStat : ${allbilling}">
                                <td th:text="${iterStat.count}">Serial No.</td>
                                <td th:text="${billing.id}">ID</td>
                                <td th:text="${billing.projectname}">Project Name</td>
                                <td th:text="${billing.itemdetails}">Item Details</td>
                                <td th:text="${billing.purchasedfrom}">Purchased From</td>
                                <td th:text="${billing.purchasedby}">Purchased By</td>
                                <td th:text="${billing.enteredby}">Details Entered By</td>
                                <td th:text="${billing.entrydate}">Entry Date</td>
                                <td th:text="${billing.qty}">Quantity</td>
                                <td th:text="${billing.price}">Price</td>
                                <td th:text="${billing.deduction}">Deduction</td>
                                <td th:text="${billing.total}">Total</td>

                                <td>
                                    <a th:href="@{'/edit/' + ${billing.id}}">Edit</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a th:href="@{'/delete/' + ${billing.id}}">Delete</a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
    </body>
</html>